/* MAK Cafe's Menu CSS */

/* Styling the heading */
.heading {
  text-align: center;
  color: aliceblue;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 30px;
  margin: 0%;
}

h1 {
  background-image: url("./MAKCafe_images/Background.jpg");
  background-position: center;
  font-size: 35px;
  text-shadow: 2px 2px 5px white;
}

/* Styling body specifications */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.8em;
  min-width: 1300px;
}

main {
  background-image: url("./MAKCafe_images/Tea-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  margin-bottom: 2px;
}

.app {
  text-align: center;
  color: azure;
}

/* Styling the navigation bar which appears right after the main heading */
nav.menu {
  width: 100%;
  background-color: #f47a60;
  height: 44px;
}
nav.menu ul,
nav.menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  padding-right: 30px;
}

nav.menu ul li a {
  padding: 0 20px;
  line-height: 44px;
  font-size: 1.4em;
  text-decoration: none;
  color: aliceblue;
}

/* Footer styling */
.bottom {
  height: 20px;
  color: white;
  background-image: url("./MAKCafe_images/Background.jpg");
  background-position: center;
  padding: 30px;
  bottom: 0;
}
.center {
  text-align: center;
  font-size: smaller;
}

/* Sub heading styling */
h2 {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  padding-top: 20px;
  color: bisque;
}

.menu_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

:focus,
:active {
  outline: 0;
}

#accordion {
  width: 1000px;
  margin: 0 auto;
  font: normal normal 13px sans-serif;
}

#accordion h3 {
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 4px #ccc;
  -webkit-box-shadow: 0 1px 4px #ccc;
  box-shadow: 0 1px 4px #ccc;
  margin: 10px 0;
  cursor: pointer;
  font-size: medium;
  width: 100%;

  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );
}

#accordion h3:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
  color: aliceblue;
}

#accordion div {
  margin: 0 0 0 10px;
  padding: 10px;
  border: solid 1px #f6f6f6;
  height: auto;
  color: black;
  font-size: medium;

  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(0, 255, 170)
  );
}

#accordion div:hover{
  color:beige;
}

/* ////////////////// */

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 60px;
}

.search-area {
  position: relative;
}

.search-area input[type=text]{
  border: 0;
  padding: 0;
  width: 0;
  height: 60px;
  transition: all 0.5s ease;
}

.icon {
  background: #003333;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  color: #fff;
  transition: all 0.5s 0.3s ease;
}

.icon i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  font-size: 35px;
}

.icon.active {
  background: #003333;
  transition: all 0.3s ease;
}

.search-area input[type=text].active {
  width: 500px;
  padding: 0 35px;
  transition: .5s;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
}